@charset "utf-8";

/* CSS Document 
/*
colors:
======= 
white:				  	#ffffff | rgb(255,255,255)
charcoal:            #333333 | rgb (51,51,51)
grape:               #330066 | rgb (51,0,102)
berry:				  	#cc0033 | rgb (204,0,51)
teal:                #009966 | rgb (0,153,102)
red					  	#cd1d1d
indigo: 			  		#000066
worlded logo red:    #a42631
*/

html { min-height: 100%; margin-bottom: 1px; overflow: -moz-scrollbars-vertical; } /* this fix forces a vert scrollbar in Firefox (so the short pages in a centered layout don't appear to shift because they have no required scrollbar)*/


html, body { 
	background: #333;/*#05121f;*/ /* hbrack */	
	background-attachment: fixed; /*08.08.13 - dlee - added*/
	background-image:url('/images/blackboard2.jpg');/* hbrack */
	color:#333;
	font: 13px 'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	font-weight: 400; /* hbrack */
	line-height: 1.55em;
	margin: 0px;
	padding: 0px;
}


body { 
	color:#333;
	font: 13px 'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	font-weight: 400; /* hbrack */
	line-height: 1.55em;
	margin: 0px;
	padding: 0px;
}

a, a:link {
	color: #cc0033; /* hbrack */
	font-size:inherit; /* 05.22.12 - dlee - added */
	font-weight:bold; /* 05.22.12 - dlee - added */
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

a:visited {
	color: #330066; /* hbrack */
}

a.linkhdr, a.title {
	font-size: 1.10em;
}

a.url {
	font-weight: normal;
}


/* - - - - - - - - - - - - - - - */
/* 10.04.13 - hbrack - added     */
/* - - - - - - - - - - - - - - - */
em  {
	font: 300 12px/1em 'Merriweather Sans' Arial,Helvetica,Verdana,sans-serif; 
	font-style:italic;
	padding-right: 2px;
}

a em  {
	font: 700 12px/1.5em 'Merriweather Sans' Arial,Helvetica,Verdana,sans-serif; 
	font-style:italic;
	padding-right: 2px;
}

i  {
	font: 300 12px/1em 'Merriweather Sans' Arial,Helvetica,Verdana,sans-serif;
	font-style:italic;
	padding-right: 2px;
}

a i
 {
	font: 700 12px/1.5em 'Merriweather Sans' Arial,Helvetica,Verdana,sans-serif;
	font-style:italic;
	padding-right: 2px;
}

/*--------------------------------*/


br.clear { 
	clear: both 
}

h1 {
	color: #333333; /* hbrack */
	font: 1.75em 'PTSans', Arial, Helvetica, Verdana, sans-serif; /* hbrack */
	text-align:left;
}


h2 {
	color: #042351;
	font: 2em Helvetica, Verdana, Arial, sans-serif;
	text-align:left;
	margin-top:10px; /* 03.26.12 - mdeangelis added */
}

img { 
	border: none;
}

p, blockquote {
	color:#333;
	font: 13px 'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	font-weight: 400;
	line-height: 1.55em;
	text-align: left;
}


table tr td {
	color:#333;
	font: 13px 'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	font-weight: 400; /* hbrack */
	line-height: 1.55em;
}

td {
	text-align:left;
	vertical-align:top;
}

ul li,
ol li {	
	color:#333;
	font: 13px 'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	font-weight: 400; /* hbrack */
	line-height: 1.55em;
	text-align:left;
}

div#wrapper div#main div#main-content {
	padding-bottom: 20px;
}

.backtotop, .backtotop a {
	color: #cc0033;
	font-weight: bold;
	text-align: right;
}

.applybtn {
	background-color: #21356F;
	border: 1px solid #999;
	color: #fff;
	font-weight: bold;
	padding: 3px;
}

a.hidden-internal-anchor {
text-decoration:none;
}

.filesize {
	color: #666;
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: normal;
}


/* start: header styles */
div#header_container {
	background: transparent;
	font-size: small; /*x-small;*/ /* hbrack */
	height: 140px; /* 10.03.13 - dlee - replace height 83px */
	margin: 0;
	padding: 0;
	position: relative;
	text-align:center; !important
}

div#header_container div#header-content {
	background-color: #fff;
	height: 140px; /* 10.03.13 - dlee - replace height 83px */
	margin: 0 auto 0 auto;
	padding: 0 0 5px 0; /* hbrack */
	position: relative;
	text-align: left;
	width: 976px;
	z-index: 2; /*0;*/ /* hbrack */
}

div#header_container div#header-content a:link, 
div#header_container div#header-content a:visited {
	color: #666; /* hbrack */
	text-decoration:none;
}

div#header_container div#header-content a:hover, 
div#header_container div#header-content a:active {
	color: #666; /* hbrack */
	text-decoration:underline;
}

div#header_container div#header-content div#header-logo {
	float: left;
	height: 140px;
	margin: 0 10px 0 0;
	padding: 0;
	width:520px; /* 10.03.13 - dlee - replace width 550px */
	z-index: 1; /* hbrack */
}

div#header_container div#header-content div#header-logo img#WEI-logo {
	border:0;
	margin-top:5px;
	padding-bottom: 0px;
	padding-left: 20px;
}

div#header_container div#header-content div#header-logo img#WEI-tag {
	border:0;
	margin-top:-10px;
	padding-bottom: 5px;
	padding-left: 65px;
}

div#header_container div#header-content div#header-right {
	float: right;
	height: 140px; 
	text-align:left;
}

div#header_container div#header-content div#header-right #header-links {
	margin-left: 0;
	padding-left: 0;
	padding-top: 15px; 
}

div#header_container div#header-content div#header-right #header-social {
	color: #666;
	font-weight: bold;
	margin-left: 0;
	padding: 15px 10px 10px 0;
}

div#header_container div#header-content div#header-right #header-search {
	margin-left: 0;
	padding-left: 0;
}

.searchform {
	background-color: #fff; /* hbrack */
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	height: auto;
	margin: 5px 0;
	padding: 2px;
	padding-right: 10px;
}

.searchform input {
	background-color: #fff; /* hbrack */
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border: 1px solid #c2c2c2; /* 10.03.13 - dlee - replace color  #dedede*/
	color: #666;/*09.25.13 - mdeangelis - 20886 - replace: color: #d4e6f8;*/
	margin: 0;
	padding: 0;
}

.searchform input.btn {
	background-color: #fff;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border: 1px solid #c4c2c2; /* 10.03.13 - dlee - replace color  #dedede*/
	color: #777; /* 10.03.13 - dlee - replace color  #888*/
	font-size: x-small;
	height: auto;
	margin: 0;
	padding: 2px;
	text-transform:uppercase;
}

/* end: header styles */


/* start: content styles */

div#wrapper {
	margin: 0;
	padding: 0;
	text-align: center; !important
}


div#wrapper div#breadcrumb {
	background-color: #fff;
	border: 1px solid #fff;	
	height: 30px;
	margin: 0;
	position: relative;
}

div#breadcrumb p {
	margin: 0 auto;
	text-align: left;
	width: auto;
}

div#breadcrumb a {
	font-weight:normal;
}

div#wrapper div#main-top {
	clear: both;
	height: 5px; /*30px;*/ /* hbrack */
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 976px;
	text-align: center; !important
}

div#wrapper div#main {
	background-color: #fff;
	clear: both;
	height:auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 976px;
	text-align: center; !important
}

/* - - - - - - - - - - - - - - - */
/* 08.08.13 - dlee - added       */
/* - - - - - - - - - - - - - - - */
div#wrapper div#main h1 {
	color: #333;
	font: 500  1.5em 'PTSans',Arial,Helvetica,Verdana,sans-serif;
	margin-top:10px;
	padding: 0;
	text-align:left;
}

div#wrapper div#main h2 {
	color: #333;
	font: 500 1.35em 'PTSans',Arial,Helvetica,Verdana,sans-serif;
	margin-top: 15px;
	padding: 0;
	text-align:left;
}
/* - - - - - - - - - - - - - - - */

#Home div#wrapper div#main {
	background-color: transparent;
	clear: both;
	height:auto;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 976px;
	text-align: center; !important
}

#Home div#wrapper div#main div#photo {
	background-color: transparent;
	clear: both;
	height: 380px;
	width: 976px;
}

div#wrapper div#main div#main-content-1col {
	background-color: transparent;
	clear: both;
	height: auto;
	width: 930px;
	margin: 0 25px 0 25px;
	padding-bottom: 25px;
}

div#wrapper div#main div#main-content {
	background-color: #fff;
	clear: both;
	height: auto;
	min-height: 350px; /* hbrack */
	width: 976px;
}

div#wrapper div#main div#main-content div#colL {
	clear: left;
	position: relative;
	margin-top: 0;
	margin-left: 0; /* 10.03.13 - dlee - replace margin-left 15px */
	margin-right: 15px;
	float: left;
	padding: 0;
	text-align:left;
	width: 200px;  /*10.03.13 - dlee - replace width 210px;  05.03.12 - mdeangelis - 19814 - replace: width: 215px */
}

div#wrapper div#main div#main-content div#colL ul {
	list-style:none;
	margin: -3px 0 0 0;
	padding: 0;
}

div#wrapper div#main div#main-content div#colL ul li {
	list-style-image:none;
	margin: 0;
	/* padding: 3px 3px 3px 5px; replaced 10.06.13 - dlee */
	padding: 3px 3px 3px 0px;
}

div#wrapper div#main div#main-content div#colL ul li a {
	display: block;
	color: #333333;
	font: 1.35em  'PT Sans', Arial, Helvetica, Verdana, sans-serif;/* hbrack */
	padding: 3px 3px 3px 10px;
	text-decoration: none;
}


div#wrapper div#main div#main-content div#colL ul li a:hover {
	background-color: #000066;
	color: #fff;
}

div#wrapper div#main div#main-content div#colL ul li ul {
	margin-top: 7px;
}

div#wrapper div#main div#main-content div#colL ul li ul li {
	list-style-image:none;
	margin: 0 0 0px 0;
	padding: 3px 3px 3px 5px;
}

div#wrapper div#main div#main-content div#colL ul li ul li a {
	color: #333333;
	display: block;
	font: 12px Helvetica, Arial, sans-serif;
	padding: 3px 3px 3px 7px;
	text-decoration: none;
}

div#wrapper div#main div#main-content div#colL ul li ul li a.selected {
	/*background-image: url(/Managed/Images/Common/bullet-subnav.jpg);
	background-repeat: no-repeat; removed 10.02.13 - dlee - per dmm */
	margin-left: -7px;
	padding-left: 12px;
	font-weight: bold;
}


body#aboutus.leadership div#wrapper div#main div#main-content div#colL ul li a.leadership,
body#aboutus.trustees div#wrapper div#main div#main-content div#colL ul li a.trustees, 
body#aboutus.founder div#wrapper div#main div#main-content div#colL ul li a.founder,
body#aboutus.honor div#wrapper div#main div#main-content div#colL ul li a.honor,
body#aboutus.offices div#wrapper div#main div#main-content div#colL ul li a.offices,
body#aboutus.assets div#wrapper div#main div#main-content div#colL ul li a.assets,
body#aboutus.annualreport div#wrapper div#main div#main-content div#colL ul li a.annualreport,
body#aboutus.financialinfo div#wrapper div#main div#main-content div#colL ul li a.financialinfo,

body#us.adultedfacts div#wrapper div#main div#main-content div#colL ul li a.adultedfacts,
body#us.expertise div#wrapper div#main div#main-content div#colL ul li a.expertise,
body#us.initiatives div#wrapper div#main div#main-content div#colL ul li a.initiatives,
body#us.services div#wrapper div#main div#main-content div#colL ul li a.services,
body#us.funders div#wrapper div#main div#main-content div#colL ul li a.funders,
body#us.newsletters div#wrapper div#main div#main-content div#colL ul li a.newsletter,
body#us.contact div#wrapper div#main div#main-content div#colL ul li a.contact,

body#international.expertise div#wrapper div#main div#main-content div#colL ul li a.expertise,
body#international.services div#wrapper div#main div#main-content div#colL ul li a.services,
body#international.where div#wrapper div#main div#main-content div#colL ul li a.where,
body#international.whoweserve div#wrapper div#main div#main-content div#colL ul li a.whoweserve,
body#international.projects div#wrapper div#main div#main-content div#colL ul li a.projects,
body#international.funders div#wrapper div#main div#main-content div#colL ul li a.funders,
body#international.offices div#wrapper div#main div#main-content div#colL ul li a.offices,
body#international.contact div#wrapper div#main div#main-content div#colL ul li a.contact,

body#resources.publications div#wrapper div#main div#main-content div#colL ul li a.publications,
body#resources.elearning div#wrapper div#main div#main-content div#colL ul li a.elearning,
body#resources.websites div#wrapper div#main div#main-content div#colL ul li a.websites,
body#resources.blogs div#wrapper div#main div#main-content div#colL ul li a.blogs,

body#features.stories div#wrapper div#main div#main-content div#colL ul li a.stories,
body#features.slideshows div#wrapper div#main div#main-content div#colL ul li a.slideshows,

body#pressroom.news div#wrapper div#main div#main-content div#colL ul li a.news,
body#pressroom.inpress div#wrapper div#main div#main-content div#colL ul li a.inpress,
body#pressroom.newsletter div#wrapper div#main div#main-content div#colL ul li a.newsletter,

body#donate.waystogive div#wrapper div#main div#main-content div#colL ul li a.waystogive,
body#donate.faq div#wrapper div#main div#main-content div#colL ul li a.faq
{
	color: #fff;
	background-color: #333;
}

div#wrapper div#main div#main-content div#colL ul li a:hover {
	background-color: #fff;
	color: #666;
	text-decoration: underline;
}

div#wrapper div#main div#main-content div#colM {
	margin-left: 239px;
	margin-right: 30px;
	margin-top: 0;
	padding: 0 0 10px 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 231px;/* 10.03.13 - dlee - replace margin-left 241px */
}

div#wrapper div#main div#main-content div#colM ul {
text-align: left;
}

div#wrapper div#main div.quote p {
	font-style:italic;
	padding-left: 20px;
	padding-right: 20px;
}


/* start: footer styles */

div#gradient_container_footer { /* hbrack */
	min-height: 300px;
	position: relative;
	background-position:center top;
	width: 1020px;
}

div#gradient_container_footer #footer_container {
	clear:both;
	height: 225px;
	line-height: 20px;
	margin: 0px auto;
	padding-top: 5px;/* hbrack */
	padding-bottom: 150px;/*30px;*//* hbrack */
	position: relative;
	/*width: 976px; replaced  05.29.15 - dlee - 21309 */
	width: inherit;
	background-color: transparent;
	background: none;
	border-top: 1px dotted #ccc;
}

.translucent {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}


div#gradient_container_footer #background, div#gradient_container_footer #content {
	position: absolute;
	top: 0;
	/*left: 20px; replaced  05.29.15 - dlee - 21309 */
	left: 0px;
	/*min-height 300px; replaced 10.03.13 - dlee */
	min-height: 325px; 
	margin: 0px auto;
	/*width: 976px;  removed  05.29.15 - dlee - 21309*/
}

div#gradient_container_footer div#footer_container div#footer-content {
	color: #333;
	font: 400 13px/1.55em Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack - replaced font-weight: bold */
	opacity: normal;
	filter: alpha(opacity = 100);
}

div#footer_container div#footer-content ul.nav {
	list-style: none;
}

div#footer_container div#footer-content ul.nav li {
	float:left;
	font: 700 13px/1.55em Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack - replaced font-weight: bold */
	list-style-type: none;
	margin: 0;
	/* padding: 0 46px 0 0; replaced 05.29.15 - dlee - 21309 */
	padding: 0 44px 0 0;
	text-align:left;
	width: auto;
}

div#footer_container div#footer-content ul.nav li.last {
	padding: 0;
}

div#footer_container div#footer-content ul.nav li ul {
	margin: 0;	
	padding: 0;
}

div#footer_container div#footer-content ul.nav li li {
	float:none;
	font-weight: normal;
	margin: 0;
	padding:0;
	white-space:nowrap;
	width:auto!important;
}

div#footer_container div#footer-content ul.nav li a:link,
div#footer_container div#footer-content ul.nav li a:visited  {
	color: #333;
	font: 700 13/1.55em Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack replaced font-weight: bold;*/
	text-decoration:none;
}

div#footer_container div#footer-content ul.nav li a:active,
div#footer_container div#footer-content ul.nav li a:hover  {
	text-decoration:underline;
}

div#footer_container div#footer-content ul.nav li li a:link,
div#footer_container div#footer-content ul.nav li li a:visited  {
	color: #333;/* hbrack */
	font-weight: normal;
	text-decoration:none;
	font: 700 13px/1.55em Arial,Helvetica;
	font-family:Arial, Helvetica, sans-serif;
}
div#footer_container div#footer-content ul.nav li li a:active,
div#footer_container div#footer-content ul.nav li li a:hover  {
	text-decoration:underline;	
}

div#footer_container div#footer-content p {
	padding: 25px 0; /* hbrack */
}

/* 04.20.12 - mdeangelis - 19749 */
div#footer_container div#footer-content p#footer-secondary-links {
	padding-top:35px;
	text-align:center;
	color:#333;/* hbrack */
	font: 400 13px/1.55em Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack replaced font-weight: bold;*/
	margin: 65px 0 10px; /* 10.03.13 - dlee - replace margin 25px 0 45px 0 */
	padding: 0;
}


p#footer-secondary-links a:link,
p#footer-secondary-links a:visited {
	color: #333;/* hbrack */
	/*font: 11px Arial, Helvetica, Verdana, sans-serif; 10.03.13 - dlee - removed */
	font-weight: normal;
	text-decoration:none;
}

p#footer-secondary-links a:active,
p#footer-secondary-links a:hover {
	text-decoration:underline;
}


/* end: footer styles */

/* ---------------------------------------------------------------------------- */
/* 04.04.12+- mdeangelis - 19671 - Implement new flyout nav                     */
/* ---------------------------------------------------------------------------- */

#navcontainer #navlist li#topmen0 a:link, #navcontainer #navlist li#topmen0 a:visited {
	background-color: #e7ecf2;
	color: #083576;
}

div#men0 a:link, div#men0 a:visited {
	background-color:#dde9fd;
	color: #000;
}

div#submenu0 {
	background-color:#e7ecf2;
	color: #000;
	display:inline;
	font-size: 1.3em;
	margin: 0; /* 10.03.13 - dlee - replaced margin-left 15px  */
}

p#sub0-0 {
	background-color:#fff;
	color: #000;
	text-decoration:underline;
}

div#wrapper div#navbar {
	z-index:10;
}

/* 04.19.12 - mdeangelis - 19729 - change navbar to navbar-content - from this point forward */
div#wrapper div#navbar-content {
	background-color: #fff;/* hbrack */
	clear: both;
	height: 36px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 978px;
}

div#wrapper div#navbar-content ul {
	margin-left: 1px; /*15px;*//* hbrack */
	padding-left: 0;
	text-align:left;
}	

div#wrapper div#navbar-content ul li {
	margin-bottom: -3px; /* 06.06.12 - mdeangelis - 19934 - add margin-bottom -3px */
	margin-left: 0;
	padding-left: 0;
	text-align:left; /* mdeangelis - from left to center */
}

div#wrapper div#navbar-content ul li a:link, 
div#wrapper div#navbar-content ul li a:visited {
	border: 1px solid #fff; /* hbrack */
	color: #333; /* hbrack */
	display: block;
	font: 13px Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	text-align: center; /* mdeangelis changed */
	padding-top: 6px;
	padding-right: 1px; /* hbrack */
	padding-bottom: 6px;
	padding-left: 1px; /* hbrack */
}

div#wrapper div#navbar-content ul li.last a:link, 
div#wrapper div#navbar-content ul li.last a:visited {
	border-right: 1px solid #fff; /*#000;*/ /* hbrack */
}

div#wrapper div#navbar-content ul li a:hover, 
div#wrapper div#navbar-content ul li a:active {
	color: #b7c3d3;
}

div#wrapper div#navbar-content ul li a:link.selected, 
div#wrapper div#navbar-content ul li a:visited.selected {
	background-color: #e7ecf2;
	border: 1px solid #919bac;
	
	/* fallback/image non-cover color */
	background-color: #1a82f7; 
	
	/* fallback image */
	background-repeat: repeat-x;
	
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#084f82), to(#25769a));
	
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #084f82, #25769a); 
	
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #084f82, #25769a);
	
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #084f82, #25769a);
	
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #084f82, #25769a);
}

div#wrapper div#navbar-content ul li a:hover.selected, 
div#wrapper div#navbar-content ul li a:active.selected {
	background-color: #fff;
	background-image: none;
	border: 1px solid #919bac;
	color: #084f82;
}

div#wrapper div#navbar-content ul.menu ul {
	background-color: #fff;/* hbrack */
	color: #000;
	display: none;
	height: 160px;  /* 10.03.13 - dlee - replaced height 145; 07.30.13 - mdeangelis - from 176 */
	margin-left: 0px;
	padding-left: 5px;
}

div#wrapper div#navbar-content ul.menu:hover ul {
	display: block;
	float: left;
	margin-left: 0px;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	text-align:left;
	z-index: 1;
}

/*10.01.13 - mdeangelis - 20910 - remove
div#wrapper div#navbar-content ul.menu li.last:hover ul {
border-right: 1px solid #000;  /@ dlee added testing @/
}
*/

.menu li {
	float:left;
	list-style: none;
	text-align:left;  
	vertical-align:top;
	width: 139px;/* hbrack */ /*147px;*/ /* mdeangelis added */ 
}

.menu li ul li {
	float: none;
	margin: 0;
	padding: 0;
	text-align:left;
}

div#wrapper div#navbar-content ul.menu li ul li a,
div#wrapper div#navbar-content ul.menu li ul li a:link,
div#wrapper div#navbar-content ul.menu li ul li a:visited {
	border: none;
	color: #000;
	font: 11px Helvetica, Verdana, Arial, sans-serif;
	font-weight: normal; /* 10.03.13 - dlee - removed font-weight bold */
	padding: 4px;
	text-align:left;
}

div#wrapper div#navbar-content ul.menu li ul li a:active,
div#wrapper div#navbar-content ul.menu li ul li a:hover {
	color: #333;
	text-decoration: underline;
}

#wrapper {
	z-index:2;
}

div#gradient_container_header { /* hbrack */
	position: relative;
	background-position:center top;
	margin-left: auto ;
	margin-right: auto ;
	background-color: #fff;
	height: 100px;
	/* width: 1050px; replaced 10.03.13 - dlee */
	width: 1020px;
}

div#gradient_container_main { /* hbrack */
	min-height: 500px;
	position: relative;
	background-position:center top;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: -35px; /* hbrack */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,0.19) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(16%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.19)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.19) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.19) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.19) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.19) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#30ffffff',GradientType=0 );
	width: 1020px;
}

div#gradient_container_footer { /* hbrack */
	min-height: 325px;
	position: relative;
	background-position:center top;
	width: 1020px;
}

div#tagline_wrapper { /* hbrack 04232013 */
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px; 
	position: relative;
	width: 1020px;
}

div#tagline {/* hbrack 04232013 */
	position: absolute;
	bottom: 90px;
	z-index: 50;
	display: none; /*10.07.13 - dlee - added */
}

p#tagline-text {/* hbrack 04142013 */
	color:#111;
	font: 400 16px/1.75em 'PT Sans',Arial,Helvetica,Verdana,sans-serif;
	margin: 0;
	padding: 0;
	width: 1020px;
	text-align: center;
}

/* - - - - - - - - - - - - - - - */
/* 07.23.13 - mdeangelis - added */
/* - - - - - - - - - - - - - - - */
.subnav-option {
   color:#004990;
   padding:0px;
   border-bottom:1px dotted #DEDEDE;
   list-style-type:none;
}
.light-dotted-bottom {
   border-bottom:1px dotted #DEDEDE;
}
.light-dotted-top {
   border-top:1px dotted #DEDEDE;
}
.light-dotted-left {
   border-left:1px dotted #DEDEDE;
}
.light-dotted-right {
   border-left:1px dotted #DEDEDE;
}
/* - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - */
/* 07.25.13 - mdeangelis - added */
/* - - - - - - - - - - - - - - - */
div.pullquote-center {
	background-color: #d4e6f8;
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border: 1px solid #5b7d96;
	height: auto;
	padding: 5px;
	voice-family: "\"}\"";
	voice-family: inherit;
}

div.pullquote-center h2 {
	color: #000;
	font: 1.5em bold Verdana, Geneva, sans-serif;
	letter-spacing:normal;
	margin: 0;
	padding: 0;
}

div.pullquote-center p {
	margin: 0;
	padding: 0;
}
/* - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - */
/* 08.08.13 - dlee - added       */
/* - - - - - - - - - - - - - - - */
div.quote-center {
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border: 1px solid #ddd;
	height: auto;
	padding: 5px;
	voice-family: "\"}\"";
	voice-family: inherit;
}

div.quote-center p {
	font-style:italic;
	font: 300Light 13px/1.5em 'Merriweather Sans' Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack added*/
	margin: 0;
	padding: 0;
	text-align: left;
}

div.photo-left {
	float: left;
	margin: 0px 12px 7px 0px;
	padding: 0	
}

div.photo-right {
	float: right;
	margin: 0px 0px 7px 12px;
	padding: 0	
}

div.photo-left p.caption,
div.photo-right p.caption {
	font: 11px/1.35em 'PT Sans',Arial,Helvetica,Verdana,sans-serif;
	margin: 0;
	padding: 3px;
	text-align: left;
}
/* - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - */
/* 08.02.13 - mdeangelis - 20773 - added */
/* - - - - - - - - - - - - - - - - - - - */

table#projectlinks tr td {
    border-top: 1px dotted #DDDDDD;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
    vertical-align: top;
}
/* - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - */
/* About Us | Leaders                    */
/* - - - - - - - - - - - - - - - - - - - */
p.leader {
	font-weight: bold;
	padding-top: 20px;
}

p.leadertxt img {
	float: left;
	padding-right: 7px;
}

p.slideshow img  {
	float: left;
	padding-right: 7px;
}

p.honor {
	font-weight: bold;
	margin-bottom: 0;
	padding-top: 20px;
}

p.date {
	color: #666;
	font-weight: bold;
	margin-bottom: 7px;
	margin-top: 0;
}

/* - - - - - - - - - - - - - - - - - - - */
/* US | Adult Education Facts            */
/* - - - - - - - - - - - - - - - - - - - */
div#aefacts a {
	font-weight: normal;
}

.refnote {
	font-size: 50%;
	text-decoration: underline;
}


/* - - - - - - - - - - - - - - - - - - - */
/* Donate                                */
/* - - - - - - - - - - - - - - - - - - - */

div#donate-btn {
	background-color: #cc0033; 
	border-radius: 7px; 
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border: 1px solid #dedede; 
	padding: 3px 10px; 
	width: 75px
}

div#donate-btn a {
	color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - */
/* Donate | FAQ                          */
/* - - - - - - - - - - - - - - - - - - - */
p.faq {
	font: 700 13px/1.55em Arial,Helvetica,Verdana,sans-serif; /*10.04.13 - hbrack replaced font-weight: bold; */
	padding-top: 20px;
}

table#donateTbl{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 20px;
}

table#donateTbl h4 {
	background-color: #000066;
	color: #fff;
	font: 12px/1.35em bold 'PT Sans',Arial,Helvetica,Verdana,sans-serif;
	margin: 0;
	padding: 3px;
}


/* - - - - - - - - - - - - - - - - - - - */
/* Pressroom                             */
/* - - - - - - - - - - - - - - - - - - - */
p.PressContactsHdr {
	font: 700 13px/1.55em 'PT Sans',Arial,Helvetica,Verdana,sans-serif;
	padding-top: 20px;	
}



/* - - - - - - - - - - - - - - - - - - - */
/* Pressroom  | Newsletters              */
/* - - - - - - - - - - - - - - - - - - - */

div#wrapper div#main div#WEI-eNews-form-wrapper {
	margin: 20px auto;  
}

div#wrapper div#main div#WEI-eNews-form-wrapper h2 {
	color: #b4290;
	font: 700 1.1em 'PTSans',Arial,Helvetica,Verdana,sans-serif;
	margin: 0; 
	padding: 0; 
}

div#wrapper div#main div#WEI-eNews-form-wrapper form#WEI-eNews-form {
	margin: 20px auto; 
	padding:0;	
	text-align: left;
}

div#wrapper div#main div#WEI-eNews-form-wrapper form#WEI-eNews-form .btn {
background-color: #CC0033;
    border: 1px solid #DEDEDE;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;	
}

/* - - - - - - - - - - - - - - - - - - - */
/* Dynamic home page graphics            */
/* - - - - - - - - - - - - - - - - - - - */
div#WEI-Initiative {
	width: 450px; 
	margin: 0; 
	padding: 0; 
	float: left;
}

div#wrapper div#main div#WEI-bottom div#WEI-Initiative h2 {
	color: #000; 
	margin: 0; 
	padding: 0; 
	font: 1.75em bold Verdana, Geneva, sans-serif;
}

div#WEI-Blog {
	width: 450px; 
	margin: 0; 
	padding: 0; 
	float: right;
}

div#wrapper div#main div#WEI-bottom div#WEI-Blog h2 {
	color: #666; 
	margin: 0; 
	padding: 0; 
	font: 1.75em bold Verdana, Geneva, sans-serif;
}

